---
layout: default
title: "branduren.com"
description: "This is the personal website of Brandur Øssursson who
works, studies and breathes in Copenhagen. Here you will find my blog,
and some of my previous projects"
keywords: "branduren.com, personal, website, blog, projects"
site_section: home
---
<section id="recent-blog-posts">
{% for post in site.categories.blog limit:6 %}
{% if forloop.index0 == 0 %}
<article class="preview big">
<h2><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h2>
{% else %}
<article class="preview">
<h3><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h3>
{% endif %}
<img src="{{ BASE_PATH }}{{ post.image }}" alt="{{post.title}}" />
<p>{{ post.content | strip_html | truncatewords:40}}<a href="{{ post.url }}">read more</a></p>
<span class="stamp">Posted on <time datetime="{{post.date | date: "%Y-%m-%d"}}">{{ post.date | date_to_string }}</time></span>
</article>
{% endfor %}
<a href="/blog/" title="See all blog posts" class="blogbtn">See all blog posts</a>
</section>
{% include elsewhere.html %}
