---
layout: default
title:"branduren.com"
description:"This is the personal website of Brandur Øssursson who works, studies and breathes in Copenhagen."
site_section: home
---
<section id="recent-blog-posts">
{% for post in site.categories.blog limit:6 %}
{% if forloop.index0 == 0 %}
<article class="preview big">
<h2><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h2>
{% else %}
<article class="preview">
<h3><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h3>
{% endif %}
<img src="{{ BASE_PATH }}{{ post.image }}" alt="{{post.title}}" />
<p>{{ post.content | strip_html | truncatewords:40}}<a href="{{ post.url }}">read more</a></p>
<span class="stamp">Posted on <time class="metainfo">{{ post.date | date_to_string }}</time></span>
</article>
{% endfor %}
<a href="/blog/" title="See all blog posts" class="blogbtn">See all blog posts</a>
</section>
{% include elsewhere.html %}

<!-- <span><a href="http://localhost:4000{{ post.url }}#disqus_thread">Link</a></span> -->
<!--         <script type="text/javascript"> -->
<!--         var disqus_shortname = 'branduren'; // required: replace example with your forum shortname -->

<!--         (function () { -->
<!--             var s = document.createElement('script'); s.async = true; -->
<!--             s.type = 'text/javascript'; -->
<!--             s.src = 'http://' + disqus_shortname + '.disqus.com/count.js'; -->
<!--             (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s); -->
<!--         }()); -->
<!--         </script> -->
