<section id="elsewhere">
<h3>Me, Elsewhere</h3>
<ul id="socialize">
<li class="github"><a href="http://github.com/branduren" rel="me" title="Me on Github">
	<img src="/img/social/github.png" alt="Github" />
</a></li><li class="google_plus"><a href="https://plus.google.com/118366195183233712004/" rel="me" title="Me on Google+">
	<img src="/img/social/googleplus.png" alt="Me on Google+" />
</a></li><li class="twitter"><a href="http://www.twitter.com/branduren" rel="me" title="Me on twitter">
	<img src="/img/social/twitter.png" alt="me on twitter" />
</a></li><li class="flickr"><a href="http://www.flickr.com/photos/branduren" rel="me" title="Me on flickr">
	<img src="/img/social/flickr.png" alt="Me on flickr" />
</a></li><li class="pinterest"><a href="http://pinterest.com/branduren/" rel="me" title="me on pinterest">
	<img src="/img/social/pinterest.png" alt="me on pinterest" />
</a></li><li class="500px"><a href="http://500px.com/branduren" rel="me" title="Me on 500px">
	<img src="/img/social/500px.png" alt="Me on 500px" />
</a></li>
</ul>
</section>
